@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(//fonts.googleapis.com/css?family=Roboto);

body * {
  font-family: 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans JP', 'Roboto', sans-serif;
  margin: 0px;
}

html,
body,
#page_main {
  height: 100%;
}

#loading-page,
#loading-page * {
  font-family: '';
}

rt {
  user-select: none;
}
rt::selection { display: none; }
