.rbc-event {
  border: unset;
  padding: unset;
  background-color: transparent;
  color: unset;
}

.rbc-event.rbc-event-allday {
  border: unset;
  padding: unset;
  background-color: transparent;
  color: unset;
}

.rbc-event.rbc-selected {
  padding: unset;
  background-color: transparent;
  color: unset;
}

.rbc-day-slot .rbc-event {
  border: unset;
  padding: unset;
  background-color: transparent;
  color: unset;
}

.rbc-event-label {
  display: none;
}
